@import './utilities/_variables.scss';

.header{
    background-color: $backgroundColorHeader;
    text-align: center;
    font-size: $fontGeneralHeader;
    border:none;
    height:100px;
    padding:14px;
    padding-top:25px;
    font-weight: bold;
    color:$fontHeaderColor;
    line-height: 16px;
}